<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>{{ settings.APP_NAME }}</title>{% endblock %}
    {% block head %}{% endblock %}
    <style>
        body {
            background-color: #d6d3d3;
        }
    </style>
</head>
<body>
{% block navbar %}{% endblock %}

{% block messages %}
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{msg.level_tag}}" role="alert">
                {{msg.message}}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %} {% endblock %}

{% block footer %} {% endblock %}
</body>
</html>