{% extends 'base.html' %}
{% load plotly_dash %}

{% block head %}
    <style>
        iframe {
            background-color: #fff;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{{ reference.name }}</h1>
    <ul>
        <li><a href="{{ reference.url }}" target="_blank">Reference</a></li>
        <li><a href="{% url 'home:homepage' %}">Home</a></li>
    </ul>
    <hr>
    <div>
        {% with example_name=example ratio=ratio %}
            {% plotly_app name=example_name ratio=ratio %}
        {% endwith %}
    </div>
    <hr>
{% endblock %}